REACT_APP_API_URL=https://syn-api-prod.herokuapp.com/graphql
REACT_APP_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwb3NpdGlvbklkIjoiNTZmMTAxOWVjYWQyIiwicHJvamVjdElkIjoiNDM3OWM5ZjMtODkwOC00YWViLWFmMDYtMWEyMDhjMzBjYzNjIiwiZnVsbE5hbWUiOiJKb2VsIEVkdWFyZG8gVml6Y2FycmEgR2FsbGVnb3MiLCJlbWFpbCI6ImpvZWx2aXpjYXJyYTk4QGdtYWlsLmNvbSIsImlhdCI6MTY0OTQ1MDcwOH0.RxymDYhR8v211qJqDSlX_chPVJmx3_G1NPrr9KQpgQQ